/.idea/vcs.xml

/.idea/**

/form-start/.idea
/form-start/.gradle
/form-start/build

/login-start/.idea
/login-start/.gradle
/login-start/build

/message-start/.idea
/message-start/.gradle
/message-start/build

/validation-start/.idea
/validation-start/.gradle
/validation-start/build

/thymeleaf-basic/.idea
/thymeleaf-basic/.gradle
/thymeleaf-basic/build

/exception/.idea
/exception/exception/.gradle
/exception/exception/build